@font-face {
    font-family: FuturaBold;
    font-weight: 400;
    src: url(FuturaBold.ttf);
}

@font-face {
    font-family: FuturaLight;
    font-weight: 400;
    src: url(FuturaLight.ttf);
}

@font-face {
    font-family: FuturaBook;
    font-weight: 400;
    src: url(FuturaBook.ttf);
}

@font-face {
    font-family: Anton;
    font-weight: 400;
    src: url(Anton-Regular.ttf);
}

.font-title {
    font-family: FuturaBold;
}

.font-subtitle {
    font-family: FuturaLight;
}

.font-book {
    font-family: FuturaBook;
}

.font-anton {
    font-family: Anton;
}

.display-none {
    display: none;
}

.multi-wizard-step p {
    margin-top: 12px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    position: relative;
    width: 100%;
}

.multi-wizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 1px;
    z-index: 0;
    position: absolute;
    background-color: #fefefe;
}

.multi-wizard-step {
    text-align: center;
    position: relative;
    display: table-cell;
}