@font-face {
    font-family: FuturaBold;
    font-weight: 400;
    src: url(..\fonts\FuturaBold.ttf);
}

@font-face {
    font-family: FuturaLight;
    font-weight: 400;
    src: url(..\fonts\FuturaLight.ttf);
}

@font-face {
    font-family: FuturaBook;
    font-weight: 400;
    src: url(..\fonts\FuturaBook.ttf);
}

@font-face {
    font-family: Anton;
    font-weight: 400;
    src: url(..\fonts\Anton-Regular.ttf);
}

.font-title {
    font-family: FuturaBold;
}

.font-subtitle {
    font-family: FuturaLight;
}